:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-image: url("background.svg");
  background-repeat: repeat;
}
img {
  display: block;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  a {
    text-decoration: none; 
    color: #fff;
  }
  li {
    list-style: none;
  }
}

.nav-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 2em;
  background-color: hsl(0, 0%, 100%, .3);

  @supports (backdrop-filter: blur(1rem)){
    background-color: hsl(0, 0%, 100%, .1);
    backdrop-filter: blur(.5rem);
  }
}
#nav-hamburger{
  display: none;
}

@media (max-width: 35em) {
  .nav-list {
    position: fixed;
    flex-direction: column;
    
    inset: 0 0 0 30%;
    padding: min(20vh, 10rem) 2em;
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }
  .nav-list[data-visible="true"] {
    transform: translateX(0%);
  }

  #nav-hamburger {
    display: block;
    background: transparent;
    height: 2rem;
    width: 2rem;
    border: none;
    background-image: url("hamburger.svg");
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 5000;
  }
  #nav-hamburger[aria-expanded="true"] {
    background: transparent;
    background-image: url("hamburger.svg");
    background-repeat: no-repeat;
    /* too lazy to find a real close button whatever */
  }

  #nav-close {
    display: block;
    border: none;
    background: none;
    position: absolute;
    right: 5%;
    top: 5%;
    background: #ddd;
    border: 1px black;
    border-radius: 50%;

    img {
      max-height: 3em;
    }
  }
}

@media (min-width: 35em) {
  .nav-list a > span[aria-hidden] {
    display: none;
  }
  .nav-list {
    width: 75%;
    padding-block: 2rem;
    padding-inline: clamp(3rem, 8vw, 10rem);
  }
}


.logo {
  max-height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}